<!--The content below is only a placeholder and can be replaced.-->
<app-gs1-ui-show-header
  [logoW]    = "60"
  [logoH]    = "60"        
  [logoS1]   = "'Welcome to GS1 Canada'"
  [logoS2]   = "'The Global Language of Business'"
  [displayN] = "['Analysis View1', 'Analysis View2', 'Analysis View3']" 
  [gUrl]     = "['list1', 'list2', 'list3']"
>
</app-gs1-ui-show-header> 
<app-gs1-ui-show-contents></app-gs1-ui-show-contents>
<app-gs1-ui-show-footer
  [address]   = "'GS1 Canada® is a registered trademark of GS1 Canada. Copyright © GS1 Canada 2018.'"
  [email]     = "'info@gs1ca.org'"
  [phone]     = "'1.800.567.7084'"
  [fax]       = "'1.800.567.7085'"
>
</app-gs1-ui-show-footer>