<br/><br/>
<div class="container">
    <b><!--GS1 Google Analytics Detail added by Olga -->
        <app-gs1-ui-show-title [pageTitle]="pageTitle">
        </app-gs1-ui-show-title>
    </b><br/><br/>

    Title: {{chartData[0].label}}       <br/>
    Lables: {{label}}     <br/>
    Data: {{value}} <br/>
</div>
<!-- <app-gs1-ui-show-table
[Col1Title]="'Name'"
[Col2]="'Rank'"
[Col3]="'Point'"
[fieldData]=chartData[0].data
[labelData] =chartLabels
></app-gs1-ui-show-table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> -->
