<div class="toolkit container">
    <footer>
        <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h4>Popular Links</h4>
                        <ul>
                            <li><a href="/MyHome.asp">myGS1</a></li>
                            <li><a href="https://www.gs1ca.org/app_invoices/lookup.asp">Pay Online</a></li>
                            <li><a href="/pages/n/subscription/index.asp">About Barcodes, GTINs and More</a></li>
                            <li><a href="/apps/calculator/main.asp">Check Digit Calculator</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h4>Our Solutions</h4>
                        <ul>
                        <li><a href="/pages/n/Services/nis">ECCnet New Item Setup</a></li>
                        <li><a href="/pages/n/Services/ec">ECCnet eCommerce Content</a></li>
                        <li><a href="/pages/n/Services/pr">ECCnet Recall</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="/pages/n/services/about-gs1.asp" tabindex="35">Corporate</a></li><li>
                            </li><li><a href="/pages/n/careers/index.asp" tabindex="35">Careers</a></li><li>
                            </li><li><a href="/Our_Boards/Board_Of_Governors/" tabindex="36">Our Boards</a></li><li>                            
                            </li><li><a href="/pages/n/aboutus/aoda.asp" tabindex="38">Accessibility</a></li><li>
                        </li></ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <h4>Connect With Us</h4>
                        <ul>
                            <li><a href="/pages/n/pressroom/mediaenquiries.asp" tabindex="43">Media Enquiries</a></li>
                            <li><a href="/pages/n/ContactUs/index.asp" tabindex="42">Support Form</a></li>
                        </ul><!-- <h4>Contact Us Here:</h4> -->
                        <br>
                        <ul style="margin-bottom:10px;">
                            <li>{{phone}}</li>
                        <li><a href="mailto:info@gs1ca.org">{{email}}</a></li>
                        </ul>
                    </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr style="margin:5px 0;">
                <p><a href="/privacy" target="_blank">Privacy</a>
                &nbsp;|&nbsp; <a href="/terms" target="_blank">Terms and Conditions</a>
                &nbsp;|&nbsp; <a href="/anti-competition-policy" target="_blank">Anti-Competition Policy Statement</a></p>
                <p class="small" style="font-size: 12px;">{{address}} </p>
            </div>
        </div>
    </footer>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//www.gs1ca.org/js/bootstrap.min.js"></script>
  <!-- Custom /js to instantiate tooltips, alerts, modals, etc -->
  <script src="//www.gs1ca.org/js/documentation.js"></script>
  <!-- Calendar Date Picker plugin and options-->
  <script src="//www.gs1ca.org/calendar-plugin/js/bootstrap-datepicker.js"></script>
  <script>
    $('.form-date-picker').datepicker({
    todayBtn: "linked",
    multidate: false,
    autoclose: true,
    todayHighlight: true
    });
  </script>
  <!-- Lazy load Bootstrap accessibility plugin-->
  <script src="//www.gs1ca.org/js/accessibility.js"></script>
  