<br/><br/>
<div class="container">
    <b><!--GS1 Google Analytics List added by Olga -->
        <app-gs1-ui-show-title [pageTitle]="pageTitle">
        </app-gs1-ui-show-title>
    </b><br/><br/>
            <ul class="nav navbar-nav" style="overflow: hidden;">
                <li class="dropdown yamm-fw" routerLinkActive="active">
                    <a routerLink="/chart/1">See DBMS Analysis Chart</a>
                </li>
                <li class="dropdown yamm-fw" routerLinkActive="active">
                    <a routerLink="/chart/2">See Programming Languages Analysis Chart</a>
                </li>
            </ul>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>