<div class="navigation">
        <div class="container">
            <nav class="navbar yamm navbar-default" role="navigation">
                <div id="navbar-collapse-example" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="overflow: hidden;">
                        <!--changed by Olga on 2018-8-15 to use navList for links display-->
                        <li class="dropdown yamm-fw" routerLinkActive="active" *ngFor="let menuItem of navList;">
                            <a routerLink="{{menuItem.link}}">{{menuItem.name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</div>

<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="/list">List</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/chart">Chart</a>
            </li>                           
            <li routerLinkActive="active">
              <a routerLink="/detail">Detail</a>
          </li>                                       
          </ul>
      </div>
  </div>
</nav>
-->