<div class="container">
        <div class="logo1">
                <a href="https://www.gs1ca.org/?intLng=English&amp;URL=home.asp">
                    <img src="https://www.gs1ca.org/images/GS1_Canada_2014-12-17.svg" alt="GS1 logo" border="0" height="{{logoHeight}}">
                </a>
                <p class="large hidden-xs hidden-sm" style="top:50px">
                <strong>{{logoSlogan1}}</strong><br>{{logoSlogan2}}
                <!--<strong>Welcome to GS1 Canada</strong><br>The Global Language of Business-->
                </p>
        </div>
        <div class="secondary-nav">
            <ul class="list-inline">
                <li><a href="https://www.gs1ca.org/default.asp?intLng=French&amp;txtURL=%2Fpages%2Fn%2Fhome%2Findex%2Easp">Français</a></li>
            </ul>
        </div>
</div>
